body {
    background-color: lightcyan
}

div.container {
    width: 780px;
}

#main-header {
    background-color: dimgray;
    border: transparent;
    padding: 15px;
}

.left-col {
    float: left;
    width: 250px;
    height: 50px;
    top: 10px;
    clear: left;
}

.right-col {
    float: right;
    width: 250px;
    height: 50px;
    top: 10px;
    margin-right: 50px;
    clear: right;
}

.reg-fields {
    height: 20px;
    width: 250px;
    border: 1px solid red;
    margin: 5px;
    float: left;
    clear: left;
}

.student-login {
    height: 20px;
    width: 250px;
    border: 1px solid red;
    margin: 5px;
    float: left;
    clear: left;
}

#login-btn {
    float: right;
    margin-right: 20px;
}

clear {
    clear: both;
}

h1 {
    color: mediumblue;
}

h2 {
    display: inline;
    color: dimgray;
    font-size: 20px;
}

h3 {
    display: inline;
    color: mediumblue;
    font-size: 20px;
}
#forgot-pass {
    font:white;
    font-size: 15px;
    margin-right:20px;
    float: right;
    clear: right;
}

#myBtn {
    margin-left: 193px;
}

.student-login {
    float: right;
    margin-right: 20px;
}